<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <h1>Welcome to the Customer Page</h1>
    <p>
        <ul>
            <li> View, Insert, and Delete Values from the Customer Table Below</li>
            <li> Click the "Update" Button to Update an Existing Row</li>
        </ul>
    </p>
     <table>
    <! -- This is what establishes the Table -->
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
        <form action="/customer" method="post">
            <tr>
                {% for key in customers[0].keys() %}
                <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                <th><input type="text" name="{{ key }}"></th>
                <!-- End of this for loop -->
                {% endfor %}
                <th><button type="submit" name="add_row" value="execute">Add Row</button></th>
            </tr>
        </form>
    </thead>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for person in customers %}
        <tr>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in person.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
            <td>{{person[key]}}</td>
    {% endfor %}
            <td>
                <form action="/customer" method="post">
                <button type="submit" name="delete", value="{{ person['customer_id'] }}">Delete</button>
                </form>
            </td>
            <td>
                <form action="/update_customer" method="get">
                <button type="submit" name="update" value="{{ person['customer_id'] }}">Update</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>