<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
    <h1>Welcome to the Employee Page</h1>
    <p>
        View, Insert and Delete Values from The Employee Table Below.<br>
        Click the "Update" button to Update an existing Row.
    </p>


     <table>
    <! -- This is what establishes the Table -->
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employment Start Date</th>
            <th>Employment End Date</th>
            <th>Title</th>
            <th>Salary ($)</th>
        </tr>
        <form action="/employee" method="post">
            <tr>
                {% for key in employees[0].keys() %}
                <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                <th><input type="text" name="{{ key }}"></th>
                <!-- End of this for loop -->
                {% endfor %}
                <th><button type="submit" name="add_row" value="execute">Add Row</button></th>
            </tr>
        </form>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for person in employees %}
        <tr>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in person.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
            <td>{{person[key]}}</td>
    {% endfor %}
            <td>
                <form action="/employee" method="post">
                <button type="submit" name="delete", value="{{ person['employee_id'] }}">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>


    -----------------------------------------
    <form action="/update_employee", method="get">
        <button type="submit">Update Employees</button>

    </form>

</body>
</html>