<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employess</title>
</head>
<body>
    <p>Employees</p>


     <table>
    <! -- This is what establishes the Table -->
    <thead>
        <tr>
        <!-- Iterate through each key in the first entry to get the column name -->
        {% for key in employees[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
         {% endfor %}
        </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for person in employees %}
        <tr>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in person.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
            <td>{{person[key]}}</td>
    {% endfor %}
            <td>
                <form action="/employees" method="post">
                <button type="submit" name="delete", value="{{ person['employee_id'] }}">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

    -----------------------------------------
    <br>
        <form action="/employees" method="post">
        Insert Into employees (
            {% for key in employees[0].keys() %}
            {{ key }},            <!-- End of this for loop -->
            {% endfor %}
            )

        <!-- Iterate through each key in the first entry to get the column name -->
        <br>
            {% for key in employees[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <input type="text" name="{{ key }}">

        <!-- End of this for loop -->
         {% endfor %}
        );
        <button type="submit" name="add_row" value="execute">Add Row</button>
    </form>

    -----------------------------------------
    <form action="/update_employees", method="get">
        <button type="submit">Update Employees</button>



    </form>

</body>
</html>