<html>
<head>
    <title>OSU - CS 340 - Introduction to Databases - Database Testing</title>
</head>
<body>
    <h1>CS340 Main Flask Page</h1>
	<p>TThis is me just screwing around.</p>
    <a href="customers">Customers</a>
    <a href="derivative_data">Derivatives</a>
    <a href="employees">Employees</a>
    <a href="jet_data">Jet Data</a>
</body>
</html>