<html>
<head>
    <title>Friendly Flights Database Homepage</title>
</head>
<body>
    <h1>Welcome to Friendly Flights Data Base Home Page!</h1>
	<p>Please see below for a list of available options</p>
    <p>
        <a href="customer">Customer</a><br>
        The above link will take you to the Customer Entity. It is Possible to View, Add, and
        insert Data into the Customer Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

    <p>
        <a href="derivative_data">Derivative</a><br>
        The above link will take you to the Derivatives Entity. It is Possible to View, Add, and
        insert Data into the Derivative Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

    <p>
        <a href="employee">Employee</a><br>
        The above link will take you to the Employees Entity. It is Possible to View, Add, and
        insert Data into the Employee Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

    <p>
        <a href="jet_data">Jet Data</a><br>
        The above link will take you to the Jet Data Entity. It is Possible to View, Add, and
        insert Data into the Jet Data Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

    <p>
        <a href="lease">Lease</a><br>
        The above link will take you to the Lease Entity. It is Possible to View, Add, and
        insert Data into the Lease Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

    <p>
        <a href="aircraft_assignment">Aircraft Assignment</a><br>
        The above link will take you to the Aircraft Assignment Entity. It is Possible to View, Add, and
        insert Data into the Aircraft Assignment Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>
    <p>
        <a href="lease_request">Lease Request</a><br>
        The above link will take you to the Lease Request Entity. It is Possible to View, Add, and
        insert Data into the Lease Request Table from this homepage. Within this page is also a link
        to update any existing data.
    </p>

</body>
</html>