<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jet Data</title>
</head>
<body>
    <h1>Welcome to the Jet Data Page</h1>
    <p>
        <ul>
            <li> View, Insert, and Delete Values from the Jet Data Table Below</li>
            <li> Click the "Update" Button to Update an Existing Row</li>
            <li> Apply Filters to Change the View of the Table Below</li>
        </ul>
    </p>


     <table>
    <! -- This is what establishes the Table -->
    <thead>
        <tr>
            <th>Jet ID</th>
            <th>Derivative ID</th>
            <th>Number of Engines</th>
            <th>Flight Cycles</th>
            <th>Market Value ($)</th>
            <th>Payload</th>
        </tr>
        <form action="/jet_data" method="post">
            <tr>
                {% for key in jets[0].keys() %}
                <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                <th><input type="text" name="{{ key }}"></th>
                <!-- End of this for loop -->
                {% endfor %}
                <th><button type="submit" name="add_row" value="execute">Add Row</button></th>
            </tr>
        </form>
    </thead>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for person in jets %}
        <tr>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in person.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
            <td>{{person[key]}}</td>
    {% endfor %}
            <td>
                <form action="/jet_data" method="post">
                <button type="submit" name="delete", value="{{ person['jet_id'] }}">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
--------------------------------------
    <p> Apply Filters Here</p>
    <form action="'/jet_data" method="post">
        <input type="checkbox" id="jet_id" value="jet_id">
        <label for="jet_id">Jet ID</label>
        <br>
        <input type="checkbox" id="derivative_id" value="derivative_id">
        <label for="derivative_id">Derivative ID</label>
        <br>
        <input type="checkbox" id="flight_cycle" value="flight_cycle">
        <label for="flight_cycle">Flight Cycles</label>
        <br>
        <input type="checkbox" id="market_value" value="market_value">
        <label for="market_value">Market Value</label>
        <br>
        <input type="checkbox" id="payload" value="payload">
        <label for="payload">Payload</label>
        <br>
        <button type="submit" name="filter", value="filter">Apply Filter</button>
    </form>

    -----------------------------------------
    <form action="/update_jet_data"  method="get">
        <button type="submit">Update Jet Data</button>

    </form>

</body>
</html>