<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Aircraft Assignment</title>
</head>
<body>
    <h1>Welcome to the Update Customer Page</h1>
    <p>
        <ol>
            <li>Update the information in the text Boxes</li>
            <li>When you are pleased with the data, Click "Submit"</li>
            <li>If the refresh page does not display your update, something went wrong</li>
        </ol>
    </p>


     <table>
    <! -- This is what establishes the Table -->
    <thead>
        <tr>
            <th>Lease ID</th>
            <th>Employee ID</th>
        </tr>

    <tbody>
    <!-- Now, iterate through every person in bsg_people -->
    {% for person in data %}
        <tr>
            <!-- Then iterate through every key in the current person dictionary -->
            {% for key in person.keys() %}
            <!-- Create a <td> element with the value of that key in it -->
            <td>{{person[key]}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
        <tr>
            <form action="/aircraft_assignment" method="post">
                <td> </td>
                <td><input type="text" name="lease_id" value="{{ data[0]['lease_id'] }}"></td>
                <td><input type="text" name="employee_id" value="{{ data[0]['employee_id'] }}" ></td>
                <td>
                    <button type="submit" name="update" value="{{ data[0]['lease_id'] }}">Submit Updates</button>
                </td>

            </form>
        </tr>
    </table>
----------------------------------------

----------------------------------------

</body>
</html>